/* NO TOUCHY */ #flag{margin:0 auto}b,s{display:block;position:relative;outline:1px solid black}b{float:left;z-index:999}

$flagHeightPx: 400px;
$flagWidth: 1.9;
$blueHeight: (7 / 13);
$blueWidth: 0.76;
$stripeHeight: (1 / 13);
$muricanRed: #BF0A30;
$muricanBlue: #002868;

#flag{
	height: $flagHeightPx;
	width: $flagHeightPx * $flagWidth;
}
b{
	background-color: $muricanBlue;
	height: $flagHeightPx * $blueHeight;
	width: $flagHeightPx * $blueWidth;
}
s{
	height: $flagHeightPx * $stripeHeight;

	&:nth-of-type(odd){
		background-color: $muricanRed;
	}
}